<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bai2 - Lab3</title>
</head>
<body>
	<div th:each="UserZowick, st : ${list}"> 
		 <img th:src="@{|/anh/${UserZowick.photo}|}" style="height:40px"> 
		 <b th:text="@{|${st.count}. |}"></b> 
		 <b th:text="${#strings.capitalizeWords(UserZowick.fullname)}"></b>,  
		 <b th:text="${#numbers.formatDecimal(UserZowick.salary, 0, 'COMMA', 2, 'POINT')}"></b>$ 
		 <th:block th:if="${!st.last}"><hr></th:block> 
	</div>
</body>
</html>